*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 800;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
h2 span{
  color: rgb(255, 111, 0);
  font-size: 40px;
}

.win{
  color: green !important;
}